!amber
!URXvt.foreground: rgb:ff/b0/00

!blue
URxvt.foreground: rgb:cb/f3/f3 

URxvt.backgroundPixmap: /home/wooosh/bg.png;style=tiled
URxvt.borderColor: #323232

URxvt.font: xft:canele:pixelsize=12
URxvt.boldFont: xft:pretzel:pixelsize=12
URxvt.letterSpace: 1

*.scrollBar: false
*.scrollBar_right: false
*.internalBorder: 8

! manpager
manpager.foreground: #222222
manpager.backgroundPixmap:
manpager.background: #FFFEF5
manpager.borderColor: #FFFEF5
manpager.font: xft:Go Mono:size=10
manpager.boldFont: xft:Go Mono:size=10:style=Bold
